body {
    background-image: url("../assets/background.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
}

.main {
    text-align: center;
    Color: white; 
}

.instructions {
    padding: 50%;
    background-color: bisque;
    
}